<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="org.rssowl.rcp" sequenceNumber="13">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.13.2.v20171108-1834"/>
<unit id="org.eclipse.rcp.feature.group" version="4.7.2.v20171130-0510"/>
<unit id="org.eclipse.test.feature.group" version="3.7.200.v20170511-1043"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.7"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.codec" version="1.10.0"/>
<unit id="org.apache.commons.logging" version="1.2.0"/>
<unit id="org.apache.httpcomponents.httpclient" version="4.5.4"/>
<unit id="org.apache.httpcomponents.httpcore" version="4.4.7"/>
<repository location="file:/C:/Code/ProjectsMy/java/rssowl/rssowlprj/RSSOwl/org.rssowl.lib.httpclient.p2/target/repository/"/>
</location>
</locations>
</target>
